<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Program Deteksi Buah Busuk dan Tidak Busuk Menggunakan Video</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="font-awesome.css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  </head>
  <body>

      <!-- Just an image -->
  <nav class="navbar navbar-ligh" style="background-color: white;">
    <a class="navbar-brand" href="../index.html">
      <img src="images/arrow_back.jpg" width="30" height="30" alt="">
    </a>
  </nav>

    <div class="bg">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
          <h2 style="color:white;text-align:center;margin-top: 10%;">Program Deteksi Buah Busuk dan Tidak Busuk Menggunakan Video</h2>
          <br><br><br>
        </div>
    <div class="col-md-12">
          <h4 style="color:white;text-align:center;">Live Capturing</h4>
          <video autoplay="true" playsinline muted id="webcam" class="mx-auto d-block" style="width: 250px;height: 250px;"></video>
          <button style="margin-top: 3%;" class="btn btn-success btn-lg mx-auto d-block"  type="button" id="button-on-off">
            Capture
          </button>
    </div>
    <div class="col-md-12" style="margin-top: 2%;">
      <div class="card mx-auto d-block" style="width:400px">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">Result :</h4>
          <p>Confident :<div id="confident-video"></div></p>
          <p>Prediction :<div id="prediction-video"></div></p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <button id="send_btn" style="display: none;">Test</button>
  <input type="file" id="input_image" style="display: none;" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/src/loadingoverlay.js"></script>
    <script>
      var video = document.querySelector('#webcam')
        if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (error) {
            console.log("Something went wrong!");
          });
      }
   
  </script>
    <script src="../index.js"></script>
  </body>
</html>